{% load static %}
{% block content %}
    <div class="masthead-content text-center text-white">
        <div class="bg-dark m-4 p-2 w-50 container px-5 rounded">
            <form method="post">
                {% csrf_token %}
                <h1>Cadastrar Medico</h1>
                {% for message in messages %}<h5>{{ message }}</h5>{% endfor %}
                <p>Nome</p>
                <input type="text" name="nome" class="subheading mb-3 form-control" />
                <p>Sobrenome</p>
                <input type="text" name="sobrenome" class="subheading mb-3 form-control" />
                <p>Telefone</p>
                <input type="text" name="telefone" class="subheading mb-3 form-control" />
                <p>especialidade</p>
                <input type="text" name="especialidade" class="subheading mb-3 form-control" />
                <p>crm</p>
                <input type="text" name="crm" class="subheading mb-3 form-control" />
                <p>estado</p>
                <input type="text" name="estado" class="subheading mb-3 form-control" />
                <input type="submit" class="btn btn-primary btn-l rounded-pill" />
            </form>
        </div>
    </div>
{% endblock content %}
